In [2]:
import pandas as pd
import numpy as np

In [3]:
#series from list

#list
country=['India','Shrilanka','USA','UK','Nepal','Bhutan']
pd.Series(country)

0        India
1    Shrilanka
2          USA
3           UK
4        Nepal
5       Bhutan
dtype: object

In [4]:
#integers
run=[10,56,87,45,67,94]
pd.Series(run)

0    10
1    56
2    87
3    45
4    67
5    94
dtype: int64

In [6]:
#custom index
marks=[65,90,45,69,87,94,56]
subject=['English','Maths','Biology','Social Science','Science','Chemistry','Physics']

pd.Series(marks,index=subject)

English           65
Maths             90
Biology           45
Social Science    69
Science           87
Chemistry         94
Physics           56
dtype: int64

In [13]:
#setting name to series
marks=pd.Series(marks,index=subject,name="Marks of swara")
print(marks)
pd.Series(marks,subject,name="Marks of swara")

English           65
Maths             90
Biology           45
Social Science    69
Science           87
Chemistry         94
Physics           56
Name: Marks of swara, dtype: int64

English           65
Maths             90
Biology           45
Social Science    69
Science           87
Chemistry         94
Physics           56
Name: Marks of swara, dtype: int64

In [19]:
#series from dict
marks={
"English":65,
"Maths":90,
"Biology":45,
"Social Science":69,
"Science":87,
"Chemistry":94,
"Physics":56,   
}
marks_series=pd.Series(marks,name="Marks of swara")
marks_series

English           65
Maths             90
Biology           45
Social Science    69
Science           87
Chemistry         94
Physics           56
Name: Marks of swara, dtype: int64

In [23]:
#Series Attributes

#size
marks_series.size

#dtype---type of series
marks_series.dtype

#name---give name which can we give
print(marks_series.name)

#is_unique----if items unique give true else false
print(marks_series.is_unique)

#index----give index object
print(marks_series.index)

#values---gives values
print(marks_series.values)

Marks of swara
True
Index(['English', 'Maths', 'Biology', 'Social Science', 'Science', 'Chemistry',
       'Physics'],
      dtype='object')
[65 90 45 69 87 94 56]