In [3]:
import pandas as pd
import numpy as np

In [4]:
#with one col----aa.txt is one col in dataset-----squeeze is convert dataframe into series when dataset contain one col
cars = pd.read_csv("aa.txt").squeeze("columns")
type(cars)

pandas.core.series.Series

In [12]:
#with two cols
cars = pd.read_csv("sample.txt")
print(cars)
print(type(cars))

               Car_Model  Price_USD
0           Toyota Camry      26420
1            Honda Civic      23950
2           Ford Mustang      30920
3          Tesla Model 3      38990
4     Chevrolet Corvette      68300
5                 BMW M3      76000
6                Audi A4      41900
7  Mercedes-Benz C-Class      46950
8        Hyundai Elantra      21475
9          Nissan Altima      25730
<class 'pandas.core.frame.DataFrame'>

In [5]:
#with two col----sample.txt have two cols in dataset--stack() is convert dataframe into series when dataset contain multiple cols
df = pd.read_csv("sample.txt",index_col='Car_Model')
# Convert to Series
series = df.stack()
print(type(series))
print(series)

<class 'pandas.core.series.Series'>
Car_Model
Toyota Camry           Price_USD    26420
Honda Civic            Price_USD    23950
Ford Mustang           Price_USD    30920
Tesla Model 3          Price_USD    38990
Chevrolet Corvette     Price_USD    68300
BMW M3                 Price_USD    76000
Audi A4                Price_USD    41900
Mercedes-Benz C-Class  Price_USD    46950
Hyundai Elantra        Price_USD    21475
Nissan Altima          Price_USD    25730
dtype: int64

In [6]:
#give car_model as index 
cars = pd.read_csv("sample.txt",index_col="Car_Model")
cars

                       Price_USD
Car_Model
Toyota Camry               26420
Honda Civic                23950
Ford Mustang               30920
Tesla Model 3              38990
Chevrolet Corvette         68300
BMW M3                     76000
Audi A4                    41900
Mercedes-Benz C-Class      46950
Hyundai Elantra            21475
Nissan Altima              25730